@keyframes flash-animation {
    to {
        visibility: hidden;
    }
}

.fill-width {
    width: 100%;
}

.layout {
    display: flex;
}
.layout.horizontal {
    flex-direction: row;
    align-items: center;
}
.layout.vertical {
    flex-direction: column;
}

.flex {
    flex: 1;
}

.align-left {
    text-align: left;
}

.material-icons {
    vertical-align: middle;
    font-size: calc(var(--icon-size) * 24px);
}

.unstyled-button,
.icon-button {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    /* TODO: a11y? */
}

.icon-button {
    --icon-size: 1;
}

.icon-button-labelled {
    display: flex;
    align-items: center;
}

.main {
    font-family: Roboto, sans-serif;

    max-width: 400px;
    margin: auto;

    align-items: center;
    display: flex;
    flex-direction: column;
}

.timer {
    margin-top: 1em;
}
.timer-main {
    display: flex;
}
.timer-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.timer--finished .countdown {
    animation: flash-animation 1s steps(5, start) infinite;
}

.editor {
    display: flex;
}

.editor__input {
    border: 0;
    margin: 0;
    padding: 0;
    width: 1.2em;
}

.editor,
.editor__input,
.countdown {
    font-family: 'Roboto Mono', monospace;
    font-size: 5rem;
}

/* .timer__edit { */
/*     line-height: 2em; */
/* } */

.timer__edit-done,
.timer__edit-cancel,
.timer__start,
.timer__pause {
    --icon-size: 2;
}

.timer__edit-done,
.timer__edit-cancel {
    margin-left: 10px;
}

.timer__start,
.timer__pause {
    margin: 0 20px;
}

.add-timer {
    color: #aaa;
    margin: 1em 0;
    font-size: 1.5em;
    --icon-size: 1.5;
}

.timer-name-input {
    font: inherit;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    /* TODO: a11y? */
}

.start-voice,
.stop-voice {
    --icon-size: 2;
}

.stop-voice {
    color: #F44336;
    /* TODO: flashing? */
}

.voice-placeholder {
    color: #aaa;
}


.get-started {
    margin: 100px 0;
    font-size: 200%;
    --icon-size: 2;
}

.help-pane {
    margin: 20px 0;
    text-align: left;
    width: 100%;
}

.help-pane-title {
    font-weight: bold;
}

.help-pane-command {
    margin: 10px 0;
}
